{% extends 'layouts.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Discussion Areas</h1>
    {% for area in areas %}
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">{{ area.name }}</h5>
            <p class="card-text">{{ area.description }}</p>
            <a href="{{ url_for('area', area_id=area.id) }}" class="btn btn-primary">View Threads</a>
        </div>
    </div>
    {% endfor %}
    {% for private_area in private_areas %}
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">{{ private_area.name }}</h5>
            <p class="card-text">{{ private_area.description }}</p>
            <a href="{{ url_for('password') }}" class="btn btn-primary">View Threads</a>
        </div>
    </div>
    {% endfor %}
</div>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
